.improves {
   &__container {
      display: flex;
      justify-content: center;
      gap: 190px;
   }
}

.improve {
   &__wrap {
      display: flex;
      //border-left: 2px solid #eeeff2;
      align-items: center;
      height: 125.57px;
   }

   &__logo {
      margin: 0px 35px 0px 0px;
   }

   &__info {
   }

   &__number {
      text-transform: uppercase;
      font-weight: 700;
      font-size: rem(25);
      line-height: 30px;
   }

   &__text {
      font-size: rem(20);
      line-height: 30px;
   }
}
