.main {
   margin: 0px 0px 150px 0px;
   &__container {
      display: flex;
      align-items: center;
      @include breakpoint-down(dw3) {
         display: block;
      }
   }

   &__body {
      flex: 1 1 50%;
      max-width: 450px;
   }
   @include breakpoint-down(dw3) {
      text-align: center;
   }

   &__image {
      flex: 1 1 50%;
   }
   img {
      width: 100%;
      @include breakpoint-down(dw2) {
         width: 90%;
      }
   }
}

.body-main {
   &__title {
      text-transform: uppercase;
      font-size: rem(50);
      font-weight: 700;
      line-height: 70px;
      color: $blue;
      margin: 0px 0px 20px 0px;
   }

   &__text {
      color: #4f5665;
      font-size: rem(22);
      line-height: 30px;
      margin: 0px 0px 60px 0px;
   }

   &__button {
      width: 250px;
      height: 60px;
      border-radius: 10px;
      &:hover {
         background: #878abc;
         border: 2px solid #878abc;
         color: white;
      }
   }
}
